.menu {
  width: 235px;
  background-color: #026b97;
  height: 100vh;
}
.menu-item {
  display: flex;
}
.menu-item-icon {
  position: relative;
  width: 45px;
  height: 45px;
  background-image: url(assets/content/img/iconMenu.png);
  background-repeat: no-repeat;
  background-position: 15px 9px;
}
.icon-report {
  background-position: 15px -182px;
}
.icon-cart {
  background-position: 15px -365px;
}
.icon-sales {
  background-position: 15px -108px;
}
.icon-manage {
  background-position: 15px -406px;
}
.icon-item {
  background-position: 15px -365px;
}
.menu-item-icon img {
  width: 25px;
  height: 25px;
  align-self: center;
  position: absolute;
  top: 10px;
  left: 25px;
  color: #ffffff;
}
.menu-item-text {
  width: calc(100% - 45px);
  text-align: left;
  line-height: 42px;
  padding-left: 10px;
}
.header-account-left {
  margin-left: 10px;
}
