body{
    font-size: 14px;
}
.txt-search
    {
        height: 35px;
        width: 210px;
        border: 1px solid #ccc;
        border-radius: 5px;
        background-repeat: no-repeat;
        background-position: 16px center;
        padding-left: 25px; 

    }