@import "./basic/input.scss";
@import "./basic/button.scss";
@import "./layout/content.scss";
@import "./basic/table.scss";
@import "./employee.scss";
@import "./layout/header.scss";
@import "./layout/leftsidebar.scss";
@import "./shop.scss";
@import "./shopdetails.scss";
body {
  margin: 0;
  padding: 0;
  font-family: "GoogleSans-Regular";
}

@font-face {
  font-family: "GoogleSans-Regular";
  src: url("/assets/content/font/GoogleSans-Regular.otf") format("font-woff");
}
